@import "config";

html, body {
    background-color: $backgroundColor;
    color: $textColor;
    width: 100%;
    padding-top: 30px;
}

@mixin center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#overlay {
    position:absolute;
    top:50;
    left:0;
    right:0;
    bottom:0;
    background-color:purple;
    z-index:9999;
    opacity: 0.1;
    color:white;
}

#gameBoard {
    display: flex;
    flex-direction: column;
    @include center;
}

.currentRow {
    border-color: #555555;
}

.row {
    display: flex;
    flex-direction: row;
    transition: transform 0.3s ease-in-out;

    .box {
        font-size: 30px;
        width: 60px;
        height: 60px;
        margin: 2px;
        background-color: $backgroundColor;
        color: $textColor;
        border: 1px solid #3a2e2e;
        text-align: center;
        text-transform: capitalize;
        

        @keyframes fadeIn {
            0% { opacity: 0; }
            100% { opacity: 1; }
        }

        &:focus {
            caret-color: transparent;
            border-radius: red;
            outline: none;
            animation: fadeIn 0.2s;
        }   
    }
}




.shakeAnimation {
    animation: shake 0.3s ease-in-out infinite;
}

@keyframes shake {
    0%, 100% {
        transform: translateX(0);
    }
    25% {
        transform: translateX(-5px);
    }
    50% {
        transform: translateX(5px);
    }
    75% {
        transform: translateX(-5px);
    }
}